In [ ]:
import pandas as pd

In [ ]:
hdf = pd.HDFStore('AMPds2.h5', mode='r')

In [3]:
hdf.keys()

['/building1/elec/meter1',
 '/building1/elec/meter10',
 '/building1/elec/meter11',
 '/building1/elec/meter12',
 '/building1/elec/meter13',
 '/building1/elec/meter14',
 '/building1/elec/meter15',
 '/building1/elec/meter16',
 '/building1/elec/meter17',
 '/building1/elec/meter18',
 '/building1/elec/meter19',
 '/building1/elec/meter2',
 '/building1/elec/meter20',
 '/building1/elec/meter21',
 '/building1/elec/meter3',
 '/building1/elec/meter4',
 '/building1/elec/meter5',
 '/building1/elec/meter6',
 '/building1/elec/meter7',
 '/building1/elec/meter8',
 '/building1/elec/meter9',
 '/building1/elec/cache/meter9/dropout_rate',
 '/building1/elec/cache/meter9/good_sections',
 '/building1/elec/cache/meter9/total_energy',
 '/building1/elec/cache/meter8/dropout_rate',
 '/building1/elec/cache/meter8/good_sections',
 '/building1/elec/cache/meter8/total_energy',
 '/building1/elec/cache/meter7/dropout_rate',
 '/building1/elec/cache/meter7/good_sections',
 '/building1/elec/cache/meter7/total_energy',
 '/building1/elec/cache/meter6/dropout_rate',
 '/building1/elec/cache/meter6/good_sections',
 '/building1/elec/cache/meter6/total_energy',
 '/building1/elec/cache/meter5/dropout_rate',
 '/building1/elec/cache/meter5/good_sections',
 '/building1/elec/cache/meter5/total_energy',
 '/building1/elec/cache/meter4/dropout_rate',
 '/building1/elec/cache/meter4/good_sections',
 '/building1/elec/cache/meter4/total_energy',
 '/building1/elec/cache/meter3/dropout_rate',
 '/building1/elec/cache/meter3/good_sections',
 '/building1/elec/cache/meter3/total_energy',
 '/building1/elec/cache/meter21/dropout_rate',
 '/building1/elec/cache/meter21/good_sections',
 '/building1/elec/cache/meter21/total_energy',
 '/building1/elec/cache/meter20/dropout_rate',
 '/building1/elec/cache/meter20/good_sections',
 '/building1/elec/cache/meter20/total_energy',
 '/building1/elec/cache/meter2/dropout_rate',
 '/building1/elec/cache/meter2/good_sections',
 '/building1/elec/cache/meter2/total_energy',
 '/building1/elec/cache/meter19/dropout_rate',
 '/building1/elec/cache/meter19/good_sections',
 '/building1/elec/cache/meter19/total_energy',
 '/building1/elec/cache/meter18/dropout_rate',
 '/building1/elec/cache/meter18/good_sections',
 '/building1/elec/cache/meter18/total_energy',
 '/building1/elec/cache/meter17/dropout_rate',
 '/building1/elec/cache/meter17/good_sections',
 '/building1/elec/cache/meter17/total_energy',
 '/building1/elec/cache/meter16/dropout_rate',
 '/building1/elec/cache/meter16/good_sections',
 '/building1/elec/cache/meter16/total_energy',
 '/building1/elec/cache/meter15/dropout_rate',
 '/building1/elec/cache/meter15/good_sections',
 '/building1/elec/cache/meter15/total_energy',
 '/building1/elec/cache/meter14/dropout_rate',
 '/building1/elec/cache/meter14/good_sections',
 '/building1/elec/cache/meter14/total_energy',
 '/building1/elec/cache/meter13/dropout_rate',
 '/building1/elec/cache/meter13/good_sections',
 '/building1/elec/cache/meter13/total_energy',
 '/building1/elec/cache/meter12/dropout_rate',
 '/building1/elec/cache/meter12/good_sections',
 '/building1/elec/cache/meter12/total_energy',
 '/building1/elec/cache/meter11/dropout_rate',
 '/building1/elec/cache/meter11/good_sections',
 '/building1/elec/cache/meter11/total_energy',
 '/building1/elec/cache/meter10/dropout_rate',
 '/building1/elec/cache/meter10/good_sections',
 '/building1/elec/cache/meter10/total_energy',
 '/building1/elec/cache/meter1/dropout_rate',
 '/building1/elec/cache/meter1/good_sections',
 '/building1/elec/cache/meter1/total_energy']

In [4]:
df1 = hdf.get('/building1/elec/meter1')

In [5]:
type(df1)

pandas.core.frame.DataFrame

In [6]:
df1.head()

physical_quantity,voltage,current,frequency,pf,power factor,power,energy,power,energy,power,energy
type,,,,d,apparent,active,active,reactive,reactive,apparent,apparent
TIMESTAMP,,,,,,,,,,,
2012-04-01 00:00:00-07:00,236.100006,8.6,60.060001,1.0,0.93,918.0,1007560.0,141.0,124951.0,1066.0,1064237.0
2012-04-01 00:01:00-07:00,236.399994,8.6,60.000000,1.0,0.93,913.0,1007577.0,141.0,124952.0,1056.0,1064256.0
2012-04-01 00:02:00-07:00,236.300003,8.2,60.000000,1.0,0.93,872.0,1007592.0,139.0,124953.0,1021.0,1064272.0
2012-04-01 00:03:00-07:00,236.399994,8.2,60.000000,1.0,0.93,872.0,1007606.0,141.0,124954.0,1018.0,1064287.0
2012-04-01 00:04:00-07:00,236.000000,8.2,60.000000,1.0,0.89,772.0,1007620.0,140.0,124955.0,1018.0,1064302.0

In [7]:
df2 = hdf.get('/building1/elec/cache/meter9/dropout_rate')

In [8]:
type(df2)

pandas.core.frame.DataFrame

In [9]:
df2.head()

                                                end  dropout_rate  n_samples
2012-04-01 00:00:00-07:00 2014-03-31 23:59:00-07:00           0.0  1051200.0